.tile {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 16%;
    align-items: center;
    background-color: black;
    border-radius: 5px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
