.tiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tile {
    flex-basis: 12.5%;
    background-color: var(--back-tile);
}

.tile-image {
    max-width: 100%;
}

figcaption {
    text-align: center;
    text-transform: capitalize;
}
