header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: var(--back-main);
    background-color: var(--dark);
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.logo {
    height: 3em;
    margin-right: 0.5em;
}

a {
    text-decoration: none;
    color: var(--back-main);
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-button {
    height: 3em;
    font-size: 1em;
    padding: 0.5em;
    border-color: goldenrod;
    background-color: var(--back-main);
    color: var(--dark);
}
