header {
    display: flex;
    flex-direction: row;
    border: red solid 1px;
}

figure.logo {
}

img {
    width: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
}
