.details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail {
    position: relative;
    background-color: var(--back-tile);
    /*color: black;*/
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border-top: 4px solid gray;
    border-right: 4px solid gray;
    padding: 1em;
}

#detail_image {
    padding: 1em;
}

#description {
    padding-bottom: 1em;
    padding-left: 2em;
    align-self: start;
}

ul {
    margin: 1em;
    padding-left: 2em;
    align-self: start;
    list-style-type: none;
}
