table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em;
}

td, th {
    border: 1px solid black;
}

td {
    padding-left: 1em;
}

tr:nth-child(odd) {
    background-color: var(--light-back-main);
}

th {
    background-color: var(--dark);
    color: var(--light-back-main);
    border-color: var(--light-back-main);
}
