table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em;
}

td, th {
    border: 1px solid black;
}

td {
    padding-left: 1em;
}

tr:nth-child(odd) {
    background-color: var(--light-back-main);
}

tr:first-child {
    background-color: var(--dark);
    color: var(--light-back-main);
}

tr:nth-child(2) {
    background-color: darkorange;
    color: var(--dark);
}
