* {
  /* CSS reset */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* used colors */
  --error: #B3001B;
  --back-main: darkgoldenrod;
  --light-back-main: goldenrod;
  --back-tile: #F0A202;
  --dark: #252C37;
  --light: white;
  --ok: green;
  --not-slain: grey;
  /* used sizes */
  --header-height: 70px;
  --footer-height: 70px;
  /* used font */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: var(--header-height);
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  background-color: var(--back-main);
  color: var(--dark);
}

footer {
  height: var(--footer-height);
}

button {
  margin: 5px;
  border-radius: 10px;
  font-size: 1em;
  padding: 5px 10px;
}

img {
  height: 100%;
}

h1, h2{
  text-align: center;
  text-transform: capitalize;
}

h1 {
  margin: 1em;
}
