:root {
  --greygold: #DDA74F;
  --sunburst: #F8C61E;
  --gold: #FFB700;
  --red: #B3001B;
  --darkwhite: #848C8E;
  --darkblue: #141447;
  --midnight: #252C37;
   /* used colors */
  --back-main: darkgoldenrod;
  --back-tile: #F0A202;
  --dark: #252C37;
  --light: white;
  --slain: green;
  --not-slain: grey;
  /* used sizes */
  --header-height: 70px;
  --footer-height: 70px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  /*
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  */
}
